<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	  <display-name>publicPlatform Web Application</display-name>
	  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/base.xml
        </param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
 
    <filter>
        <filter-name>struts-cleanup</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
    </filter>
    <!-- 定义Struts2的核心过滤器 -->
    <filter>
        <filter-name>struts</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts-cleanup</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!-- 配置超时时间 分钟 下发时确认为多长时间-->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
	<servlet>
		<servlet-name>captchatoimage</servlet-name>
		<servlet-class>com.cib.alipayserver.servlet.CaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>captchatoimage</servlet-name>
		<url-pattern>/AddInImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>alipay</servlet-name>
		<servlet-class>com.newland.alipay.servlet.AlipaySpringServlet</servlet-class>
		<init-param>
			<param-name>handleBeanName</param-name>
			<param-value>alipayHandle</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>alipay</servlet-name>
		<url-pattern>/alipay/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>alipayproxy</servlet-name>
		<servlet-class>com.newland.alipay.servlet.ProxySpringServlet</servlet-class>
		<init-param>
			<param-name>nodeLocatorBeanName</param-name>
			<param-value>ketamaNodeLocator</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>alipayproxy</servlet-name>
		<url-pattern>/alipayproxy/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>weixin</servlet-name>
		<servlet-class>com.newland.wechat.servlet.WeixinSpringServlet</servlet-class>
		<init-param>
			<param-name>handleBeanName</param-name>
			<param-value>weixinHandle</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>weixin</servlet-name>
		<url-pattern>/weixin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>weixinproxy</servlet-name>
		<servlet-class>com.newland.wechat.servlet.ProxySpringServlet</servlet-class>
		<init-param>
			<param-name>nodeLocatorBeanName</param-name>
			<param-value>ketamaNodeLocator</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>weixinproxy</servlet-name>
		<url-pattern>/weixinproxy/*</url-pattern>
	</servlet-mapping>
</web-app>
